.welcome-header {
	display: flex;
	margin: 90px 0px;
	text-align: center;
	flex-direction: column;
	align-items: center;
}
.welcome-header__title {
	font-size: var(--title-font-size);
	margin-bottom: 40px;
}
.welcome-header__text-box {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.welcome-header__text-box__text {
	font-size: var(--content-font-size);
}
.welcome-header__text-box__text:first-child {
	margin-bottom: 5px;
}
#login-form {
	display: flex;
	flex-direction: column;
	margin: 0px 30px;
}
.login-form__input {
	padding: 15px 0px;
	border: none;
}
.login-form__text {
	font-size: var(--content-font-size);
	margin-bottom: 15px;
	border-bottom: 2px solid #eee;
	transition: border-color 0.3s ease-in-out;
}
.login-form__text::placeholder {
	color: #bbb;
}
.login-form__text:focus {
	border-color: var(--main-color);
}
.login-form__btn {
	font-size: var(--content-font-size);
	margin: 25px 0px;
	cursor: pointer;
	border-radius: 5px;
	background-color: var(--main-color);
}
.login-form__link {
	text-align: center;
	text-decoration: none;
	color: inherit;
	font-size: var(--content-font-size);
}
