.settings__list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	border-bottom: var(--border-bottom);
	gap: 30px;
	padding-bottom: 30px;
}
.settings__setting {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}
.settings__setting__column {
	display: flex;
	align-items: center;
	gap: 20px;
	font-size: var(--content-font-size);
}
.settings__setting__column i {
	font-size: var(--sub-title-font-size);
}
