.badge__noti {
	display: flex;
	justify-content: center;
	align-items: center;
}
@keyframes flipBadgeNotification {
	0% {
		transform: none;
	}
	20% {
		transform: translateY(-5px);
	}
	50% {
		transform: translateY(-6px) rotateY(270deg);
	}
	80% {
		transform: translateY(-5px);
	}
	100% {
		transform: none;
	}
}
.badge__noti__nav-bar {
	position: absolute;
	top: -5px;
}
.badge__counts {
	background-color: tomato;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	color: white;
	font-size: 14px;
}
.badge__counts__nav-bar {
	left: 16px;
	animation: flipBadgeNotification 1.5s ease-in infinite;
}
.badge__dots {
	width: 20px;
	height: 20px;
	color: tomato;
	font-size: 30px;
}
.badge__dots__nav-bar {
	left: 18px;
}
.badge__counts__screen-header {
	left: 20px;
}
